@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.mantine-Carousel-control {
  background-color: white;
}

.mantine-1v3yzoy {
  background-color: white;
}

.mantine-1xx95jg {
  @apply text-gray-400 !important;
}

.mantine-Tabs-panel p {
  @apply mb-4;
}

.mantine-137wxqm {
  @apply sm:mt-0 sm:mb-0 sm:p-0 !important;
}

.richText p,
b {
  @apply text-black mb-4 font-normal !important;
}

.richText li {
  @apply list-decimal ml-4 !important;
}

.richText a {
  @apply underline text-key !important;
}

.richText h3 {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
}

@media print {
  footer,
  .footer,
  .favBanner,
  .header,
  .hiddenRow,
  header,
  nav {
    display: none !important;
    background-color: white;
    background: white;
  }

  body {
    background-color: white !important;
  }

  html {
    background-color: white;
  }
}

@media print {
  .cardFavs {
    @apply w-[300px] flex;
  }
  .gridFavs {
    @apply grid-cols-2 gap-y-4;
  }
}

.days input[type="text"],
.atractions input[type="text"] {
  @apply text-xs sm:text-base;
}

input[type="text"] {
  font-size: 16px;
}

.mantine-1cn2mlo {
  @apply rounded-none outline-none active:outline-none active:rounded-none;
}

.changelog {
  @apply font-bold mt-12;

  p,
  li {
    @apply font-normal m-0;
  }

  h1 {
    @apply text-5xl mb-16 text-center;
  }

  h2 {
    @apply text-4xl;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-key rounded-xl;
}

.bottomCarousel .mantine-vcl0d1 {
  @apply sm:flex hidden flex -top-16 justify-end w-11/12 mx-auto space-x-2 !important;
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 10s ease infinite alternate;
  -moz-animation: animatedgradient 10s ease infinite alternate;
  animation: animatedgradient 10s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bottomDraw .mantine-ff23mu {
  border-radius: 20px 20px 0 0 !important;
}

.bottomDraw .mantine-1fholi4 button {
  outline: none !important;
  border: 0;
}

button {
  outline: none !important;
}

.mantine-Carousel-indicator {
  background-color: white;
}

.mantine-ff23mu,
.mantine-19vej1h {
  border-radius: 20px 20px 0 0 !important;
}

.mantine-1ryt1ht {
  font-family: "PT Sans" !important;
}

.custom-shape-divider-bottom-1707076088 .shape-fill {
  @apply fill-key;
}

.selection .mantine-act32r {
  top: 10px !important;
}

.mantine-1cn2mlo {
  /* Reset all styles */
  all: unset;

  /* Alternatively, reset specific styles */
  /* Example: reset padding and border */
  padding: 0;
  border: none;

  /* Add your custom styles here */
}

.mantine-1ix1d88:focus,
.mantine-1ix1d88:focus-within {
  outline: none !important;
}

select,
textarea,
input {
  -webkit-appearance: none; /* Disable iOS native dropdown */
  -moz-appearance: none; /* Disable Firefox native dropdown */
  appearance: none; /* Disable other browser native dropdown */
}

select:focus,
input:focus {
  outline: none !important;
}
.mantine-1hher0m[data-active] {
  border-color: #000 !important;
  color: #000;
  font-weight: 500;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

.selection .mantine-act32r {
  top: 19px !important;
}
