@tailwind base;
@tailwind components;
@tailwind utilities;

/* .mantine-UnstyledButton-root {
  background-color: white;
} */

.mantine-Carousel-control {
  background-color: white;
}

.mantine-1v3yzoy {
  background-color: white;
}

.mantine-1xx95jg {
  @apply text-gray-400 !important;
}

.mantine-Tabs-panel p {
  @apply mb-4;
}

.mantine-137wxqm {
  @apply sm:mt-0 sm:mb-0 sm:p-0 !important;
}

.richText p {
  @apply mb-4 !important;
}

.richText li {
  @apply list-decimal ml-4 !important;
}

@media print {
  footer,
  .footer,
  .favBanner,
  .header,
  .hiddenRow,
  header,
  nav {
    display: none !important;
  }
}

@media print {
  .cardFavs {
    @apply w-[300px] flex;
  }
  .gridFavs {
    @apply grid-cols-2 gap-y-4;
  }
}

input[type="text"] {
  font-size: 16px;
}

.mantine-1cn2mlo {
  @apply rounded-none border-slate-50 outline-none active:outline-none active:rounded-none active:border-black;
}
